
  <h1>Welcome</h1>
  <div>
    <h2>Login</h2>
    <p>Already have an account? Click the button below to log in:</p>
    <a href="<%= login_path %>">Login</a>
  </div>

  <!-- Create Account Option -->
  <div>
    <h2>Create Account</h2>
    <p>If you don't have an account, you can create one by clicking the button below:</p>
    <a href="<%= new_user_path %>">Create Account</a>
  </div>
