<div class="alert alert-dismissible fade show alert text-center" role="alert" style="position : fixed;
bottom   : 0; z-index: 1; left: 0; right: 0; margin: auto;"><center>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVXU7eFExN1RWI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-d46JTE5SY7jI04tznCvj05F0ANpnnjNtR3d2OzHqOrH++p0JFqLHM9q+8sz6XufZ" crossorigin="anonymous"></script>



<script>
  $(document).ready(function(){
    $(".alert").delay(3000).fadeOut("slow");
  });
</script>


<% if flash[:notice] %>
  <div class="alert alert-info" role="alert" id="notice">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:warning] %>
  <div class="alert alert-danger" role="alert" id="warning">
    <%= flash[:warning] %>
  </div>
<% end %>
</center>
</div>
